body, html{
    margin: 0;
    padding: 0;
}

body {

    background-image: linear-gradient(black,#00372f,black,#00372f,black);
}



.contenedor{
    width: 100%;
    max-width: 1631px;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
}

header{    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;

}

.Logo{

    width: 76px;
    padding: 0px;
    height: 112px;
    scale: 131%;
}




nav ul {
    list-style-type: none;
    padding: 15px;    
    
    border: 3px solid;
    position: relative;
    top: 8px;
    width: 1185px;

}
        


nav ul li{
    display: inline;
    
    margin-right: -6px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 38px;

    color: rgb(255, 255, 255);

    position: relative;

    left: 210px;
    


}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}


nav ul li a[href="index.html"] {

       
    border: 2px solid;
    border-color: #176a57;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Ejercicios.html"] {

       
    border: 2px solid;
    border-color: #4b176a;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Nutricion.html"] {

       
    border: 2px solid;
    border-color: #17306a;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Consejos.html"] {

       
    border: 2px solid;
    border-color: #6a1755;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Zona interactiva.html"] {

       
    border: 2px solid;
    background-color: white;
    position: relative;
    left: 10px;
    padding: 1%;
    color: black;
 
 }

.Introduccion_Pagina {
    position: relative;
    text-align: center;
    top: -44px;
    left: 0;
}


.Imagen_Texto {

    z-index: 1;
    position: absolute;
    top: 358px;
    left: 220px;
    scale: 111%;

    

}

.Introduccion_Pagina .Texto {
    
    position: absolute;
    top: 60%; /* Posiciona el texto al centro verticalmente */
    left: 50%; /* Posiciona el texto al centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto correctamente */
    z-index: 1; /* Coloca el texto encima del video */
    color: white; /* Color del texto */
    width: 80%; /* Ancho del contenedor de texto */
    line-height: 0;
}

    

.Introduccion_Pagina p{
    font-size: 30px;
    
    
}

.Introduccion_Pagina video {
    display: block;
    margin: auto;
    width: 100%; /* Ajusta el ancho del video al contenedor */
    opacity: 80%;
}


.Seccion_de_bienvenida {
    
    position: relative;
    text-align: center;
    width: 1406px;
    padding: 14px;
    border: 22px;
    Top: -103px;;
    left: 88px;
    background-color: rgb(27, 27, 27);
    height: 747px;
}
  .Seccion_de_bienvenida .Texto {

    font-size: 292%;
    position: relative;
    top: 9%;
    left: 0%;
    padding: 6%;
    color: white;
  }

  .Imagen_flecha {
    position: relative;
    top: 4px;
    
  }



.Seccion_de_enfoques_importantes {
    

    text-align: center;
    padding: 573px;    
    padding-top: 7px;
    padding-bottom: 189px;
  }


.Seccion_de_enfoques_importantes .Texto {

    color: white;
    
}


.Seccion_de_enfoques_importantes .Botones a {
    
    color: white;
    margin-bottom: 172px;
    text-decoration: none;
}

.Seccion_de_enfoques_importantes .Botones a[href="Ejercicios.html"] {
    border: 2px solid;
    border-color: #176a57;
    position: relative;
    top: 114px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
    
    
  

}

.Seccion_de_enfoques_importantes .Botones a[href="Consejos.html"] {
    border: 2px solid;
    border-color: #4b176a;
    position: relative;
    top: 124px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
}

.Seccion_de_enfoques_importantes .Botones a[href="Nutricion.html"] {
    border: 2px solid;
    border-color: #17306a;
    position: relative;
    top: 124px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
}

.Seccion_de_enfoques_importantes .Botones a[href="Zona interactiva.html"] {
    border: 2px solid;
    background-color: rgb(163, 0, 0);
    position: relative;
    top: 129px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 211px;
    
}



.Seccion_grandes_referentes {
    
    padding: 0%;
    
}

.Seccion_grandes_referentes .Texto{

    text-align: center;

    color: white;
}

.Seccion_Foto_y_link_deportistas ul p {

    color: white;
}

.Seccion_grandes_referentes ul li:nth-child(2) {
    position: relative;
    top: 34px;
    left: 317px
    
}
.Seccion_grandes_referentes ul li:nth-child(4) {
    position: relative;
    top: -231px;
    left: 640px;
    
}

.Seccion_grandes_referentes ul li:nth-child(6) {
    position: relative;
    top: -471px;
    left: 956px;
    
}
.Seccion_grandes_referentes ul li:nth-child(8) {
    position: relative;
    top: -516px;
    left: 256px;
    
}
.Seccion_grandes_referentes ul li:nth-child(10) {
    position: relative;
    top: -765px;
    left: 646px;
    
}
.Seccion_grandes_referentes ul li:nth-child(12) {
    position: relative;
    top: -1020px;
    left: 971px;
    
}
.Seccion_grandes_referentes ul li:nth-child(14) {
    position: relative;
    top: -1047px;
    left: 473px
    
}

.Seccion_grandes_referentes ul li:nth-child(16) {
position: relative;
  top: -1304px;
  left: 806px;
    
}




.Seccion_Formulario {

    text-align: center;
    padding: 0%;
    
}

.Seccion_Formulario .Texto {

    color: white;
}

form label {

    color: white;
}













