body, html{
    margin: 0;
    padding: 0;
}

body {

    background-image: linear-gradient(black,#00372f,black,#00372f,black);
}



.contenedor{
    width: 100%;
    max-width: 1631px;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
}

header{    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;

}

.Logo{

    width: 76px;
    padding: 0px;
    height: 112px;
    scale: 131%;
}




nav ul {
    list-style-type: none;
    padding: 15px;    
    
    border: 3px solid;
    position: relative;
    top: 8px;
    width: 1185px;

}
        


nav ul li{
    display: inline;
    
    margin-right: -6px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 38px;

    color: rgb(255, 255, 255);

    position: relative;

    left: 210px;
    


}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}


nav ul li a[href="index.html"] {

       
    border: 2px solid;
    border-color: #176a57;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Ejercicios.html"] {

       
    border: 2px solid;
    border-color: #4b176a;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Nutricion.html"] {

       
    border: 2px solid;
    border-color: #17306a;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Consejos.html"] {

       
    border: 2px solid;
    border-color: #6a1755;
    position: relative;
    left: 10px;
    padding: 1%;
}

nav ul li a[href="Zona interactiva.html"] {

       
    border: 2px solid;
    background-color: white;
    position: relative;
    left: 10px;
    padding: 1%;
    color: black;
 
 }

.Introduccion_Pagina {
    position: relative;
    text-align: center;
    top: -44px;
    left: 0;
}


.Imagen_Texto {

    z-index: 1;
    position: absolute;
    top: 358px;
    left: 220px;
    scale: 111%;

    

}

.Introduccion_Pagina .Texto {
    
    position: absolute;
    top: 60%; /* Posiciona el texto al centro verticalmente */
    left: 50%; /* Posiciona el texto al centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto correctamente */
    z-index: 1; /* Coloca el texto encima del video */
    color: white; /* Color del texto */
    width: 80%; /* Ancho del contenedor de texto */
    line-height: 0;
}

    

.Introduccion_Pagina p{
    font-size: 30px;
    
    
}

.Introduccion_Pagina video {
    display: block;
    margin: auto;
    width: 100%; /* Ajusta el ancho del video al contenedor */
    opacity: 80%;
}


.Seccion_de_bienvenida {
    
    position: relative;
    text-align: center;
    width: 1406px;
    padding: 14px;
    border: 22px;
    Top: -103px;;
    left: 88px;
    background-color: rgb(27, 27, 27);
    height: 747px;
}
  .Seccion_de_bienvenida .Texto {

    font-size: 292%;
    position: relative;
    top: 9%;
    left: 0%;
    padding: 6%;
    color: white;
  }

  .Imagen_flecha {
    position: relative;
    top: 4px;
    
  }



.Seccion_de_enfoques_importantes {
    

    text-align: center;
    padding: 573px;    
    padding-top: 7px;
    padding-bottom: 189px;
  }


.Seccion_de_enfoques_importantes .Texto {

    color: white;
    
}


.Seccion_de_enfoques_importantes .Botones a {
    
    color: white;
    margin-bottom: 172px;
    text-decoration: none;
}

.Seccion_de_enfoques_importantes .Botones a[href="Ejercicios.html"] {
    border: 2px solid;
    border-color: #176a57;
    position: relative;
    top: 114px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
    
    
  

}

.Seccion_de_enfoques_importantes .Botones a[href="Consejos.html"] {
    border: 2px solid;
    border-color: #4b176a;
    position: relative;
    top: 124px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
}

.Seccion_de_enfoques_importantes .Botones a[href="Nutricion.html"] {
    border: 2px solid;
    border-color: #17306a;
    position: relative;
    top: 124px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 210px;
}

.Seccion_de_enfoques_importantes .Botones a[href="Zona interactiva.html"] {
    border: 2px solid;
    background-color: rgb(163, 0, 0);
    position: relative;
    top: 129px;
    padding: 1%;
    display: block;
    scale: 10%;
    display: block;
    width: 27%;
    height: 17px;
    scale: 694%;
    left: 211px;
    
}



.Seccion_grandes_referentes {
    
    padding: 0%;
    
}

.Seccion_grandes_referentes .Texto{

    text-align: center;

    color: white;
}

.Seccion_Foto_y_link_deportistas ul p {

    color: white;
}

.Seccion_grandes_referentes ul li:nth-child(2) {
    position: relative;
    top: 34px;
    left: 317px
    
}
.Seccion_grandes_referentes ul li:nth-child(4) {
    position: relative;
    top: -231px;
    left: 640px;
    
}

.Seccion_grandes_referentes ul li:nth-child(6) {
    position: relative;
    top: -471px;
    left: 956px;
    
}
.Seccion_grandes_referentes ul li:nth-child(8) {
    position: relative;
    top: -516px;
    left: 256px;
    
}
.Seccion_grandes_referentes ul li:nth-child(10) {
    position: relative;
    top: -765px;
    left: 646px;
    
}
.Seccion_grandes_referentes ul li:nth-child(12) {
    position: relative;
    top: -1020px;
    left: 971px;
    
}
.Seccion_grandes_referentes ul li:nth-child(14) {
    position: relative;
    top: -1047px;
    left: 473px
    
}

.Seccion_grandes_referentes ul li:nth-child(16) {
position: relative;
  top: -1304px;
  left: 806px;
    
}




.Seccion_Formulario {

    text-align: center;
    padding: 0%;
    
}

.Seccion_Formulario .Texto {

    color: white;
}

form label {

    color: white;
}

h4{
    color: #002424;
    position: relative;
    top: 25px;
  }



/* Estilos responsivos para dispositivos grandes (hasta 1024px) */
@media (max-width: 1024px) {
    .contenedor {
        /*background-color: aqua;*/
        overflow: hidden;
    }
    
    header {                
        top: -14px;
        position: relative;
    }

    .Logo {
        width: 298px;
        height: 95px;
        scale: 1;
        padding: -8px;
        top: 11px;
        position: relative;
        left: -6px;
      }
    

    nav ul {
        width: 805px;
        padding: 6px;
        left: -2px;
         top: 12px;
    }

    nav ul li {
        
        font-size: 28px;
        left: -21px;
    }

    .Introduccion_Pagina {

        top: -39px;
        left: -1px;
      }
      
    

    .Introduccion_Pagina .Imagen_Texto {

        top: 208px;
        left: -67px;
        scale: 77%;

    }

    .Introduccion_Pagina .Texto {
        font-size: 25px;
        width: 90%;
    }

    .Seccion_de_bienvenida {
        width: 86%;
        padding: 24px;
        left: 5%;
        height: 409px;
  }
    
    .Seccion_de_bienvenida .Texto {
       
        font-size: 180%;
        top: -41px;
    }

    .Seccion_de_enfoques_importantes {
        padding: 20px ;
        position: relative;    
        top: -69px;
    }

    .Seccion_de_enfoques_importantes .Botones a {
        width: 60%;
        left: 20%;
    }


    .Seccion_de_enfoques_importantes .Botones a[href="Ejercicios.html"] {
        
        top: 82px;
        scale: 495%;
        width: 16%;
        height: 19px;
        left: 397px;     
    }
    
    .Seccion_de_enfoques_importantes .Botones a[href="Consejos.html"] {
        top: 62px;
        scale: 495%;
        width: 16%;
        height: 19px;
        left: 397px; 
    }
    
    .Seccion_de_enfoques_importantes .Botones a[href="Nutricion.html"] {
        top: 41px;
        scale: 495%;
        width: 16%;
        height: 19px;
        left: 397px; 
    }
    
    .Seccion_de_enfoques_importantes .Botones a[href="Zona interactiva.html"] {
        top: 24px;
        scale: 495%;
        width: 16%;
        height: 19px;
        left: 397px; 
        
    }


    .Seccion_grandes_referentes {

        padding: 10%;
        top: -227px;
        position: relative;
        height: 425px;
       
        
    }

    .Seccion_grandes_referentes .Seccion_Foto_y_link_deportistas {

        position: relative;
        left: -312px;
        scale: 82%;
        top: -190px;
      }


      footer {

        padding: 10px;


      }
        
    }
 

  


/* Estilos responsivos para dispositivos medianos (hasta 768px) */
@media (max-width: 768px) {
        .contenedor {
            /*background-color: #4b176a;*/
            overflow: hidden;
            width: 100%;
        }
        
        header {                
            top: -14px;
            position: relative;
        }
    
        .Logo {
            width: 315px;
            height: 77px;
            scale: 89%;
            padding: -8px;
            top: 2px;
            position: relative;
            left: -23px;
          }
        
    
        nav ul {
            width: 667px;
            padding: 7px;
            left: -106px;
            top: 11px;
            margin: -6px;
            scale: 79%;   
        }
    
        nav ul li {
            
            font-size: 25px;
            left: -16px;
        }

        
    
        .Introduccion_Pagina {
    
            top: -39px;
            left: -1px;
          }
          
        
    
        .Introduccion_Pagina .Imagen_Texto {
    
            top: 140px;
            left: -208px;
            scale: 61%;       
    
        }
    
        .Introduccion_Pagina .Texto {
            font-size: 25px;
            width: 90%;
        }
    
        .Seccion_de_bienvenida {
            width: 86%;
            padding: 24px;
            left: 4%;
            height: 409px;
      }
        
        .Seccion_de_bienvenida .Texto {
           
            font-size: 180%;
            top: -41px;
        }
    
        .Seccion_de_enfoques_importantes {
            padding: 20px ;
            position: relative;    
            top: -69px;
        }
    
        .Seccion_de_enfoques_importantes .Botones {
            left: -13%;
            position: relative;
        }
        .Seccion_de_enfoques_importantes .Botones a {
            width: 60%;
            left: 20%;
        }
    
    
        .Seccion_grandes_referentes {
    
            padding: 10%;
            top: -204px;
            position: relative;
            height: 425px;
           
            
        }
    
        .Seccion_grandes_referentes .Seccion_Foto_y_link_deportistas {
    
            position: relative;
            left: -340px;
            scale: 70%;
            top: -313px;
          }
    
    
          footer {
    
            padding: 10px;
    
    
          }
            
        }

     

/* Estilos responsivos para dispositivos pequeños (hasta 480px) */
    
    @media (max-width: 480px) {
        .contenedor {
            /*background-color: #17306a;*/
            overflow: hidden;
            width: 100%;
        }
        
        header {                
            top: -14px;
            position: relative;
        }
    
        .Logo {
            width: 315px;
            height: 68px;
            scale: 73%;
            padding: -8px;
            top: 2px;
            position: relative;
            left: -44px;
          }
        
    
        nav ul {

            width: 419px;
            padding: 11px;
            left: -127px;
            top: 11px;
            margin: -8px;
            scale: 79%;
            
        }
    
        nav ul li {
            
            font-size: 25px;
            left: -16px;
        }


        nav ul li a[href="index.html"] {

            left: 6px;
            top: -4px;

        }
        
        nav ul li a[href="Ejercicios.html"] {
        
               
            left: 13px;
            top: -5px;
        }
        
        nav ul li a[href="Nutricion.html"] {
        
               
            left: 14px;
            top: -5px;
        }
        
        nav ul li a[href="Consejos.html"] {
        
            left: 5px;
            top: 10px;
        }
        
        nav ul li a[href="Zona interactiva.html"] {
        
            left: 21px;
            top: 9px;
         }

        
    
        .Introduccion_Pagina {
    
            top: -39px;
            left: -1px;
          }
          
        
    
        .Introduccion_Pagina .Imagen_Texto {
    
            top: 78px;
            left: -351px;
            scale: 36%;
               
        }
    
        .Introduccion_Pagina .Texto {
            font-size: 25px;
            width: 126%;
        }

        .Introduccion_Pagina p{
            font-size: 20px;
                       
        }
    
        .Seccion_de_bienvenida {
            width: 81%;
            padding: 22px;
            left: 4%;
            height: 313px;
            top: -66px;
      }


      .Seccion_de_bienvenida .Imagen_flecha {

        position: relative;
        top: -10px;

      }
        
        .Seccion_de_bienvenida .Texto {
           
            font-size: 138%;
            top: -40px;
          }
        

    
        .Seccion_de_enfoques_importantes {
            padding: 22px;
            position: relative;
            top: -68px;
        }
    
        .Seccion_de_enfoques_importantes .Botones {
            left: -40%;
            position: relative;
            scale: 72%;
            top: -106px;
        }
        .Seccion_de_enfoques_importantes .Botones a {
            width: 60%;
            left: 20%;
        }
    

        .Seccion_de_enfoques_importantes .Botones a[href="Ejercicios.html"] {
        
            top: 82px;
            scale: 495%;
            width: 16%;
            height: 17px;
            left: 410px;
          }  
        }
        
        .Seccion_de_enfoques_importantes .Botones a[href="Consejos.html"] {
            top: 20px;
            scale: 495%;
            width: 16%;
            height: 19px;
            left: 408px;
        }
        
        .Seccion_de_enfoques_importantes .Botones a[href="Nutricion.html"] {
            top: -37px;
            scale: 495%;
            width: 16%;
            height: 19px;
            left: 408px; 
        }
        
        .Seccion_de_enfoques_importantes .Botones a[href="Zona interactiva.html"] {
            top: -107px;
            scale: 495%;
            width: 24%;
            height: 19px;
            left: 397px;
            
        }


        
    
        .Seccion_grandes_referentes {
    
            padding: 10%;
            top: -508px;
            position: relative;
            height: 1px;
           
            
        }
    
        .Seccion_grandes_referentes .Seccion_Foto_y_link_deportistas {
    
            position: relative;
            left: -265px;
            scale: 45%;
            top: -547px;
          }
        
    
    
          footer {
    
            padding: 10px;
    
    
          }
            
        form { 

            width: 206px;
            padding: 8px;
            left: 124px;
            position: relative;
            
        }



    



